
body {
    margin: 40px auto;
    width: 80%;
    max-width: 1200px;
}

.top-image {
    width: 60%;
    max-width: 300px;
    margin: auto;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    text-align: center;
}